<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="PostcodeAnywhere_Soap">
					<security mode="Transport" />
				</binding>
				<binding name="PostcodeAnywhere_Soap1" />
				<binding name="PostcodeAnywhere_Soap2">
					<security mode="Transport" />
				</binding>
				<binding name="PostcodeAnywhere_Soap3" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://services.postcodeanywhere.co.uk/CapturePlus/Interactive/Find/v2.10/soapnew.ws"
                binding="basicHttpBinding" bindingConfiguration="PostcodeAnywhere_Soap"
                contract="Find.PostcodeAnywhere_Soap" name="PostcodeAnywhere_Soap" />
			<endpoint address="https://services.postcodeanywhere.co.uk/Capture/Interactive/Retrieve/v1.00/soapnew.ws"
                binding="basicHttpBinding" bindingConfiguration="PostcodeAnywhere_Soap2"
                contract="Retrieve.PostcodeAnywhere_Soap" name="PostcodeAnywhere_Soap1" />
		</client>
	</system.serviceModel>
</configuration>